# Build artefacts
build/
**/__pycache__/
managed_components/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Local Config File
.env

# Python Virtual Env
**/.venv

# Test logs
test/logs
