# Loopback mode configuration
CONFIG_TIC_INPUT_GPIO_A=4
CONFIG_TIC_INPUT_GPIO_B=5
CONFIG_TIC_SIGGEN_A_GPIO=4
CONFIG_TIC_SIGGEN_B_GPIO=5
CONFIG_TIC_SIGGEN_A_FREQ_HZ=2000
CONFIG_TIC_SIGGEN_B_FREQ_HZ=2000
CONFIG_TIC_SIGGEN_B_DELAY_NS=0
CONFIG_TIC_OUTPUT_CSV=y
