CONFIG_TIC_WIFI_ENABLED=y
CONFIG_TIC_MQTT_PORT=1883
CONFIG_TIC_MQTT_TOPIC="tic"
CONFIG_TIC_WIFI_RING_SIZE=10

CONFIG_TIC_DEVICE_NAME="tic1"
CONFIG_TIC_WIFI_SSID=FIXME
CONFIG_TIC_WIFI_PASSWORD=FIXME
CONFIG_TIC_MQTT_BROKER="192.168.1.105"
